<mat-toolbar color="primary">
  <button mat-icon-button id="menuIcon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">Global Bazaar</span>

  <span class="example-spacer"></span>
  <a mat-button routerLink="../vendor" class="top-menu-item">Vendor</a>
  <a mat-button routerLink="../admin" class="top-menu-item">Admin </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="flex flex-col">
      <div>
        <a mat-button routerLink="../vendor" class="side-menu-item" (click)="sidenav.close()">
          <mat-icon>badge</mat-icon>Vendor
        </a>
      </div>
      <div>
        <a mat-button routerLink="../admin" class="side-menu-item" (click)="sidenav.close()">
          <mat-icon>badge</mat-icon>Admin
        </a>
      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>